

body {
    background-color: var(--primary-color);
    /* padding: 100px; */
  }
  .container {
    /* display: flex;
    flex-direction: column; */
    background-color: var(--primary-color);

    padding: 100px;
    /* border: 1px solid rgb(39, 36, 37); */
    border-radius: 10px;
  }
  