.reserve {
  position: relative;
  background-image: url(/public/images/cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reserve::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left:0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.63);
}
.reserve::after {
  position: absolute;
  top: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-size: 100%;
  background: url(/public/images/layered-waves-haikei7.svg) bottom no-repeat,
    url(/public/images/layered-waves-haikei6.svg) top no-repeat;
  content: "";
}
.textWrapper {
  position:relative;
  font-family: PerspectiveC;
  color: var(--text-color);
  text-align: center;
  
}
.textWrapper h1 {
  font-size: 10vmin;
  padding-bottom:10px;
}
.textWrapper p {
  font-size: 5vmin;
}
.textWrapper .section {
  font-size: 5vmin;
}
.textWrapper .section span i {
  background-color: var(--secondary-color);
  font-size: 3vmin;
}


