.button{
    font-family: PerspectiveC;
    color: var(--text-color);
    text-align: center;
    font-size: 5vmin;
    padding: 10px 100px;
    border: 1px solid var(--secondary-color);
    border-radius: 35px;
    background: var(--primary-color);
    vertical-align: middle;
  }
  .button:hover{
    background: var(--secondary-color);
  }