.main {
  background-image: url(/public/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: var(--secondary-color);
  position: relative;
}
.imageWrapper{
  display:flex;
  justify-content: flex-end;
  width:100%;
  height:90vh;
}

.imageWrapper h1 {
  font-family: PerspectiveC;
  font-size: 15vmin;
  padding-bottom:30px;
}
.imageWrapper p {
  font-family: PerspectiveC;
  color: var(--text-color);
  font-size: 5vmin;
  flex-wrap: wrap;
}

.headerWrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 50%;
    /* margin-left:100px; */
}

.video {
  width: 80%;
 height:80%;
} 

  @media all  {
    .animation {
      mix-blend-mode: lighten;
      position: absolute;
      left:0;
    }
  }
  
  @media only screen and (max-width: 1060px) {
    .imageWrapper{
      display:flex;
      justify-content: center;
      width:60%;
      flex-wrap: wrap;

    }
    .imageWrapper h1 {
      font-family: PerspectiveC;
      font-size: 8vmin;
      flex-wrap: wrap;
    }
    .imageWrapper p {
      font-family: PerspectiveC;
      color: var(--text-color);
      font-size: 3vmin;
      flex-wrap: wrap;
    }
    .headerWrapper {
      display:flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
    }
  }