.coverflow-image {
    position: relative;
    color:var(--color-pink-default, lightgrey);
  }
  .vl{
  border-left: 4px solid var(--color-pink-default, lightgrey);
  height: 80%;
  
  position: absolute;
  left: 7%;
  top: 7%;
  z-index: 2;
  }
  .hl {
    border-top: 4px solid  var(--color-pink-default, lightgrey);
    width: 80%;
    position: absolute;
    top: 7%;
    left: 7%;
   z-index: 2;
  }
  .swiper-slide {
    display:flex;
    align-items: center;
    justify-content: center;
  }