@import "../../variables.css";

.header {
    /* background-color: var(--primary-color); */
    /* min-height: 14vh; */
    background: rgba(0, 0, 0, 0.63);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: var(--secondary-color);
    padding: var(--main-padding);
    /* position: fixed;
    top: 0; */
    z-index: 2;

}
.infoLine {
    display: flex;
    /* background: var(--primary-color); */
    height: 5vh;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
}
.leftIcons {
    display: flex;
    align-items: center;
}
.rightIcons {
    display: flex;
    align-items: center;
    justify-content: center;

}
.rightIcons p {
 
    margin:10px;
    /* font-size: calc(5px + 2vmin); */
}
.iconCircle {
    border-radius: 50%;
    background: var(--secondary-color);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
}
i {
    color: var(--primary-color);
    font-size:large;
}
.navigation {
    /* background-color: var(--primary-color); */
    height: 9vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top: double; */
    margin-top:5px;
    box-shadow: 0px 0 10px black;
   
}
.navigation a{
    margin-right: 30px;
    color: var(--secondary-color);
    text-decoration: none;
}
