.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40vh;
  padding: var(--main-padding);
}
.icons .text {
  font-size: 3vmin;
  color: var(--text-color);
}
.icons span img {
  filter: invert(74%) sepia(49%) saturate(347%) hue-rotate(5deg) brightness(85%) contrast(92%);
  width: 100px;
}
