
/* $primary-color: #1d283d;
$secondary-color: #efdccc; */

:root {
    --primary-color: #1d283d;
    --secondary-color: #efdccc;

    /* animation:  */
    --gird-width:30px;
    --gird-height:30px;
    --line-color:#999;
    --dot-color:#ccc;
    --dot-size:2px;
    --point-gap-width:calc(var(--gird-width) * 4);
    --point-gap-height:calc(var(--gird-height) * 4);;
  }
  